@import url('https://fonts.googleapis.com/css2?family=Playwrite+HR+Lijeva:wght@100..400&display=swap');
* {
    font-weight: 550;
    transition-duration: 300ms;
    font-family: Playwrite HR Lijeva;
}
body {
    margin: 0;
    background-color: white;
    color: #00BAFB;
}
input {
    border: solid 0.25em #00BAFB;
    color: #00BAFB;
    background-color: white;
    border-radius: 20px;
    font-weight: 750;
}
input:hover {
    background-color: #00BAFB;
    color: white;
    cursor: pointer;
}
.component {
    display: flex;
    justify-content: center;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: solid 0.25em #00BAFB;
    border-top-left-radius: 10em;
    border-bottom-left-radius: 10em;
    width: 50em;
    padding: 1em 0 1em 1em;
}
.day {
    font-size: 4.5em;
}
.hour {
    font-size: 2.5em;
}
.month {
    font-size: 3.5em;
}
.director {
    display: flex;
    justify-content: space-around;
}
.citySearch {
    padding-left: 0.75em;
}
.citySearch:focus {
    outline-style: none;
    background: #00BAFB;
    color: white;
}
.daysFuture {
    border: solid 0.25em #00BAFB;
    border-radius: 20px;
    color: #00BAFB;
    padding-left: 0.4em;
    cursor: pointer;
}
.daysFuture:hover {
    background: #00BAFB;
    color: white;
}
.daysFuture:focus {
    outline-style: none;
}
.resultWeather {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.individualCity {
    border: solid 0.15em #00BAFB;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 0.5em;
}
.cityName {
    color: green;
    font-size: 2em;
}
.temperature {
    display: flex;
    justify-content: space-around;
    font-size: 1.5em;
}
.tmin {
    color: rgb(0, 127, 255);
}
.tmax {
    color: rgb(255, 0, 0);
}
.plusCity {
    display: flex;
    justify-content: end;
}
.buttonPlus, 
.button {
    border: solid 0.25em #00BAFB;
    color: #00BAFB;
    background-color: white;
    border-radius: 20px;
    padding: 0.15em 0.3em;
    font-weight: 750;
}
.buttonPlus:hover, 
.button:hover {
    background-color: #00BAFB;
    color: white;
    cursor: pointer;
}
.plusComponent {
    display: none;
}
.ephemerideComponent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30em;
    font-size: 1.2em;
}
.sunrise {
    color: #80DDFD;
}
.sunset {
    color: #005D7E;
}
.durationDay {
    color: #00BAFB;
}
.diffDay {
    color: #002F3F;
}
