body {
    margin: 0;
    background-color: rgb(228, 228, 228);
    color: rgb(50, 149, 158);
}
.component {
    display: flex;
    justify-content: center;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: solid 0.25em rgb(50, 149, 158);
    border-top-left-radius: 10em;
    border-bottom-left-radius: 10em;
    width: 50em;
}
.resultWeather {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.cityName {
    color: green;
}
.temperature {
    display: flex;
    justify-content: space-around;
}
.tmin {
    color: rgb(0, 127, 255);
}
.tmax {
    color: rgb(255, 0, 0);
}
.day {
    font-size: 4.5em;
}
.hour {
    font-size: 2.5em;
}
.month {
    font-size: 3.5em;
}
